
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/select2/src/scss/core";
@import "node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min";

#search {
  display:block;
}

.system-table {
  width:100%;
}

.action-icon {
  font-size:20px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.flip-list-move {
  transition: transform 1s;
}

#search {
  margin-bottom: 10px;
}

.loader {
  width: 50px;
  margin: 0 auto;
}